<div id="grid">
<div class="grid">
   <button id="00" (click)="turn('00')"></button>
   <button id="01" (click)="turn('01')"></button>
   <button id="02" (click)="turn('02')"></button>
   <button id="10" (click)="turn('10')"></button>
   <button id="11" (click)="turn('11')"></button>
   <button id="12" (click)="turn('12')"></button>
   <button id="20" (click)="turn('20')"></button>
   <button id="21" (click)="turn('21')"></button>
   <button id="22" (click)="turn('22')"></button> 
  </div>
</div>
